.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  position: relative;
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}

.largeImage {
  width: 800px;
  height: 100%;
}
.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
  border: transparent;
  border-radius: 2px;
  background-color: rgb(149, 147, 147);
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 600;
}
.closeButton:hover {
  cursor: pointer;
  background-color: rgb(216, 214, 214);
}